<table class="table table-hover">
	<tr>
		<th>Tipo de carta</th>
		<th>Cantidad</th>
		<th>Porcentaje</th>
		<th>Polvito</th>
	</tr>
	<tr>
		<td>Comunes</td>
		<td><%= @commons + @commonsg %> (<%= @commonsg %>)</td>
		<td><%= @pcommons.round(2) %> %</td>
		<td><%= @commons * 5 + @commonsg * 50 %></td>
	</tr>
	<tr>
		<td>Raras</td>
		<td><%= @rares + @raresg %> (<%= @raresg %>)</td>
		<td><%= @prares.round(2) %> %</td>
		<td><%= @rares * 20 + @raresg * 100 %></td>
	</tr>
	<tr>
		<td>Epicas</td>
		<td><%= @mythicals + @mythicalsg %> (<%= @mythicalsg %>)</td>
		<td><%= @pmythicals.round(2) %> %</td>
		<td><%= @mythicals * 100 + @mythicalsg * 400 %></td>
	</tr>
	<tr>
		<td>Legendarias</td>
		<td><%= @legendaries + @legendariesg %> (<%= @legendariesg %>)</td>
		<td><%= @plegendaries.round(2) %> %</td>
		<td><%= @legendaries * 400 + @legendariesg * 1600 %></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td>Total</td>
		<td><%= @commons * 5 + @rares * 20 + @mythicals * 100 + @legendaries * 400 + @commonsg * 50 + @raresg * 100 + @mythicalsg * 400 + @legendariesg * 1600 %></td>
	</tr>
</table>
