<table class="table table-hover">
	<tr>
		<th>Tipo de carta</th>
		<th>Probabilidad individual</th>
		<th>Probabilidad por pack</th>
	</tr>
	<tr>
		<td>Comun</td>
		<td>71.30%</td>
		<td>99.81%</td>
	</tr>
	<tr>
		<td>Rara</td>
		<td>23.10%</td>
		<td>73.11%</td>
	</tr>
	<tr>
		<td>Epica</td>
		<td>4.30%</td>
		<td>19.73%</td>
	</tr>
	<tr>
		<td>Legendaria</td>
		<td>1.30%</td>
		<td>6.33%</td>
	</tr>

</table>
