<div class="container">



<div class="row">

<div class="col-sm-5 col-xs-12 col-sm-push-7">

<%= link_to "Nuevo pack",new_pack_path,data: {disable_with: "..."}, remote: true, class: "btn btn-primary", id: "new_link" %>
<div class="infotable">
<div class="counttotal"><%= pluralize(@user.packs.all.count,"Pack")%></div>

<%= render "table_current" %>

</div>
<%= render "table_static" %>

 </div>
<div class="col-sm-7 col-xs-12 col-sm-pull-5">
<div id="cartas">
<% @user.packs.reverse.each do |thing| %>
		<div id="pack<%= thing.id %>">
		<div class="created"><%= thing.created_at.to_s.first(10) %></div>
		<% if thing.c1g %>
			<div class="cartag"><%= thing.c1 %></div>
		<% else %>
			<div class="carta"><%= thing.c1 %></div>
		<% end %>

		<% if thing.c2g %>
			<div class="cartag"><%= thing.c2 %></div>
		<% else %>
			<div class="carta"><%= thing.c2 %></div>
		<% end %>

		<% if thing.c3g %>
			<div class="cartag"><%= thing.c3 %></div>
		<% else %>
			<div class="carta"><%= thing.c3 %></div>
		<% end %>

		<% if thing.c4g %>
			<div class="cartag"><%= thing.c4 %></div>
		<% else %>
			<div class="carta"><%= thing.c4 %></div>
		<% end %>

		<% if thing.c5g %>
			<div class="cartag"><%= thing.c5 %></div>
		<% else %>
			<div class="carta"><%= thing.c5 %></div>
		<% end %>

		<% if current_mememaster == Mememaster.find(params[:id]) %>
		<%= link_to "Eliminar", thing,class: "delete",remote: true, method: :delete  %>
		<% end %>
		</div>
		<% end %>
		</div>
</div>

</div>

</div>
</div>
