


<%= form_for @pack, remote: true do |f| %>
  <div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary">
    <%= f.radio_button :c1,"common", type: "radio" %> Común
    </label>
    <label class="btn btn-primary">
    <%= f.radio_button :c1,"rare", type: "radio", :checked %> Rara
    </label>
    <label class="btn btn-primary">
    <%= f.radio_button :c1,"mythical", type: "radio" %> Epica
    </label>
    <label class="btn btn-primary">
    <%= f.radio_button :c1,"legendary", type: "radio" %> Legendaria
    </label>
    
    <%= f.check_box :c1g, {}, true, false%>
    <%= f.label :c1g, "Gold" %>
    
  </div>
  
    <div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary">
    <%= f.radio_button :c2,"common", type: "radio", :checked %> Común
    </label>
    <label class="btn btn-primary">
    <%= f.radio_button :c2,"rare", type: "radio" %> Rara
    </label>
    <label class="btn btn-primary">
    <%= f.radio_button :c2,"mythical", type: "radio" %> Epica
    </label>
    <label class="btn btn-primary">
    <%= f.radio_button :c2,"legendary", type: "radio" %> Legendaria
    </label>

    <%= f.check_box :c2g, {}, true, false%>
    <%= f.label :c2g, "Gold" %>
  </div>
    <div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary">
    <%= f.radio_button :c3,"common", type: "radio", :checked %> Común
    </label>
    <label class="btn btn-primary">
    <%= f.radio_button :c3,"rare", type: "radio" %> Rara
    </label>
    <label class="btn btn-primary">
    <%= f.radio_button :c3,"mythical", type: "radio" %> Epica
    </label>
    <label class="btn btn-primary">
    <%= f.radio_button :c3,"legendary", type: "radio" %> Legendaria
    </label>

    <%= f.check_box :c3g, {}, true, false%>
    <%= f.label :c3g, "Gold" %>

  </div>
    <div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary">
    <%= f.radio_button :c4,"common", type: "radio", :checked %> Común
    </label>
    <label class="btn btn-primary">
    <%= f.radio_button :c4,"rare", type: "radio" %> Rara
    </label>
    <label class="btn btn-primary">
    <%= f.radio_button :c4,"mythical", type: "radio" %> Epica
    </label>
    <label class="btn btn-primary">
    <%= f.radio_button :c4,"legendary", type: "radio" %> Legendaria
    </label>

    <%= f.check_box :c4g, {}, true, false%>
    <%= f.label :c4g, "Gold" %>

  </div>
    <div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary">
    <%= f.radio_button :c5,"common", type: "radio", :checked %> Común
    </label>
    <label class="btn btn-primary">
    <%= f.radio_button :c5,"rare", type: "radio" %> Rara
    </label>
    <label class="btn btn-primary">
    <%= f.radio_button :c5,"mythical", type: "radio" %> Epica
    </label>
    <label class="btn btn-primary">
    <%= f.radio_button :c5,"legendary", type: "radio" %> Legendaria
    </label>

    <%= f.check_box :c5g, {}, true, false%>
    <%= f.label :c5g, "Gold" %>

    </div>
 
    
  <%= f.submit "Listo", data: {disable_with: "Procesando"}, class: "btn btn-primary" %>

  <% end %>


