<div id="pack<%= @packs.id %>">
	<div class="created"><%= @packs.created_at.to_s.first(10) %> Nuevo!</div>
		<% if @packs.c1g %>
			<div class="cartag"><%= @packs.c1 %></div>
		<% else %>
			<div class="carta"><%= @packs.c1 %></div>
		<% end %>		
		<% if @packs.c2g %>
			<div class="cartag"><%= @packs.c2 %></div>
		<% else %>
			<div class="carta"><%= @packs.c2 %></div>
		<% end %>
		<% if @packs.c3g %>
			<div class="cartag"><%= @packs.c3 %></div>
		<% else %>
			<div class="carta"><%= @packs.c3 %></div>
		<% end %>
		<% if @packs.c4g %>
			<div class="cartag"><%= @packs.c4 %></div>
		<% else %>
			<div class="carta"><%= @packs.c4 %></div>
		<% end %>
		<% if @packs.c5g %>
			<div class="cartag"><%= @packs.c5 %></div>
		<% else %>
			<div class="carta"><%= @packs.c5 %></div>
		<% end %>
		
		<%= link_to "Eliminar", @packs,class: "delete",remote: true, method: :delete  %>
		
</div>