<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Heartstone Track", root_path, class:"navbar-brand" %>
    </div>
	<ul class="nav navbar-nav">
    <li>
    <%= link_to 'Mi dashboard', mememaster_path(current_mememaster) unless !mememaster_signed_in? %>
    </li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
	<li>	
	<%= link_to 'Logout', destroy_mememaster_session_path, method: :delete unless !mememaster_signed_in? %>
    </li>
    </ul>
      </div>
</nav>