<div id="pack<%= @packs.id %>">
	<div class="created"><%= @packs.created_at.to_s.first(10) %></div>
		<div class="carta"><%= @packs.c1 %></div>
		<div class="carta"><%= @packs.c2 %></div>
		<div class="carta"><%= @packs.c3 %></div>
		<div class="carta"><%= @packs.c4 %></div>
		<div class="carta"><%= @packs.c5 %></div>
		<% if current_mememaster == Mememaster.find(params[:id]) %>
		<%= link_to "Eliminar", @packs,class: "delete",remote: true, method: :delete  %>
		<% end %>
</div>