/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
.packwrap{
	width:100%;
}
.container-cartas{
	position:relative;
	padding-top:10px;
}
.counttotal{
	font-size:30px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	margin-bottom:20px;
}

.carta{
	// position:absolute;
	height:30px;
	min-width:70px;
	display:inline-block;
	overflow:hidden;
}

.cartag{
	// position:absolute;
	height:30px;
	min-width:70px;
	display:inline-block;
	overflow:hidden;
}

.gold{
-webkit-box-shadow: 0px 4px 14px 0px rgba(255, 255, 75, 0.88);
-moz-box-shadow:    0px 4px 14px 0px rgba(255, 255, 75, 0.88);
box-shadow:         0px 4px 14px 0px rgba(255, 255, 75, 0.88);
}

.common{
	background-color: #C8DAE0;
	color:#C8DAE0;
}

.rare{
	background-color:#11A3D4;
	color:#11A3D4;
}

.mythical{
	background-color:#9C3AC9;
	color:#9C3AC9;
}

.legendary{
	background-color:#F5C133;
	color:#F5C133;
}

.formcontainer{
	display:block;
}
