<div class="container">
	<div class="jumbotron">
		<h1>Hearthstone packs tracker</h1>
		<p>Para ver si tenes suerte o no, yo que se</p>
		<% if !mememaster_signed_in? %>
			<%= link_to 'Login', new_mememaster_session_path,class: 'btn btn-primary btn-lg' %>
			<%= link_to 'Registrarse', new_mememaster_registration_path,class: 'btn btn-primary btn-lg' %>
		<% else %>
			<%= link_to 'Ir a mi cuenta', mememaster_path(current_mememaster),class: 'btn btn-primary btn-lg' %>
		<% end %>
	</div>
</div>